#player-list .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
  margin-right: -10px;
  margin-left: -10px;
  width: 100%;
}

#player-list .row:hover {
  background-color: #eee;
}

.row div {
  display: flex;
}

#player-list .player-row .MuiButton-root {
  min-width: 0px;
}

#player-list .player-row .MuiInput-input {
  width: 60px;
}

#player-list .end-row .MuiInput-input {
  width: 150px;
}

#player-list .player-row .MuiButton-root:hover {
  background: none;
}
